<h1 mat-dialog-title>Update Utility</h1>
<div mat-dialog-content>
    <div class="container">
        <form [formGroup]="utilityGroup" class="row">
            <div class="col-md-6">
                <mat-form-field class="example-full-width">
                    <input matInput placeholder="Enter Name" formControlName="accountNumber" required>
                </mat-form-field>
            </div>
            <div class="col-md-6">
                <mat-form-field class="example-full-width">
                    <input matInput placeholder="Enter Amount" formControlName="amount" required>
                </mat-form-field>
            </div>
            <div class="col-md-6">
                <mat-form-field class="example-full-width">
                    <input matInput placeholder="Enter Type" formControlName="type" required>
                </mat-form-field>
            </div>
        </form>
    </div>
</div>

<div mat-dialog-actions class="align-right" *ngIf="isBlock">
    <app-loading-ui [block]="isBlock"></app-loading-ui>
</div>

<div mat-dialog-actions class="align-right" *ngIf="!isBlock">
    <button mat-button (click)="close('close')">Cancel</button>
    <button mat-button id="btn-update" [disabled]="utilityGroup.invalid" (click)="onUpdate()">Update</button>
</div>