<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card card-plain">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-md-6">
                                <h4 class="card-title mt-0">Utility</h4>
                                <p class="card-subtitle">Now you can view utility</p>
                            </div>
                            <div class="col-md-4">
                                <mat-form-field class="example-full-width">
                                    <input matInput placeholder="Search" type="text" [(ngModel)]="search" class="mat-input" (input)="searchUtility()">
                                </mat-form-field>
                            </div>
                            <div class="col-md-2">
                                <button class="btn btn-primary create-btn pull-right"
                                    (click)="openCreateDialog()">New</button>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead class="">
                                    <th>
                                        #
                                    </th>
                                    <th>
                                        Account Number
                                    </th>
                                    <th>
                                        Amount
                                    </th>
                                    <th>
                                        Type
                                    </th>
                                    <th>
                                        User
                                    </th>
                                </thead>
                                <tbody>
                                    <tr *ngIf="isBlock">
                                        <td colspan="4">
                                            <app-loading-ui [block]="isBlock"></app-loading-ui>
                                        </td>
                                    </tr>
                                    <tr *ngIf="utilities.length == 0 && isBlock == false" class="text-center">
                                        <td colspan="4">
                                            <span class="font-italic">No record found!</span>
                                        </td>
                                    </tr>
                                    <tr *ngFor="let utility of utilities; let i = index">
                                        <td>{{i + 1}}</td>
                                        <td>{{utility.accountNumber}}</td>
                                        <td>{{utility.amount | number: '1.2-2'}}</td>
                                        <td>{{utility.type}}</td>
                                        <td>{{utility.user?.firstName || 'N/A'}} {{utility.user?.lastName}}</td>
                                        <td>
                                            <i class="material-icons btn-delete"
                                                (click)="openUpdateDialog(utility)">create</i>
                                            <i class="material-icons btn-delete"
                                                (click)="openDeleteModal(utility)">delete</i>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<aside class="aside-right" [ngClass]="{'open': isDisplay}">
    <div *ngIf='isDisplay'>
        <div class="modal-header">
            <h4>{{heading_text}}</h4>
            <a class="btn-close" (click)="closeModal()">
                <i class="material-icons">close</i>
            </a>
        </div>
        <app-utility-view-dlg *ngIf="utility != null && !isDelete" [utility]="utility">
        </app-utility-view-dlg>
        <app-utility-delete *ngIf="utility != null && isDelete" [utility]="utility" (deleted)="refresh()">
        </app-utility-delete>
    </div>
</aside>
