<h1 mat-dialog-title>Create Rent</h1>
<div mat-dialog-content>
    <div class="container">
        <form [formGroup]="rentGroup" class="row">
            <div class="col-md-6">
                <mat-form-field class="example-full-width">
                    <input matInput placeholder="Enter Name" formControlName="name" required>
                </mat-form-field>
            </div>
            <div class="col-md-6">
                <mat-form-field class="example-full-width">
                    <input matInput placeholder="Enter Amount" formControlName="amount" required>
                </mat-form-field>
            </div>
            <div class="col-md-12">
                <mat-form-field appearance="fill">
                    <mat-label>Payment Date</mat-label>
                    <input matInput [matDatepicker]="picker" formControlName="paidDate" (dateChange)="onSelectDate('input', $event)">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                  </mat-form-field>
            </div>
        </form>
    </div>
</div>

<div mat-dialog-actions class="align-right" *ngIf="isBlock">
    <app-loading-ui [block]="isBlock"></app-loading-ui>
</div>

<div mat-dialog-actions class="align-right" *ngIf="!isBlock">
    <button mat-button (click)="close('close')">Cancel</button>
    <button mat-button id="btn-update" [disabled]="rentGroup.invalid" (click)="onSave()">Save</button>
</div>